body{
	background-color:#FAFAFA;
}

div{
	font-family: Garamond;
	font-size: 15px;
	text-align: center;
	color: #000000;
}

.leftright p{
	position: fixed;
	top:50%;
}

#name{
	font-size: 40px;
	font-family: Minion;
	position: fixed;
	top: 40%;
	left: 48%;
	height: 100px;
	width:300px;
	border: none;
}

#about{
	background-color: rgba(0, 126, 237, .3);
	width: 100%;
	height:22%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#contact{
	background-color: rgba(0, 198, 237, .3);
	width: 28%;
	height:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#github{
	background-color: rgba(0, 237, 158, .3);
	width: 100%;
	height:15%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 3;
}

#resume{
	background-color: rgba(0, 237, 237, .3);
	width: 8%;
	height:100%;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 4;
}