/* This is to set the default brower settings to zero,
makes it a blank slate */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body{
	background-color:#FFFCF5;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

div{
	font-family: Arial;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	color: white;
	opacity: .4;
}

.outside:hover{
	border:dotted 2px #000000;
	opacity: .6;
}

#photo{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	opacity: .9;
	border: double 3px #2E2511;
}

#photo:hover{
	opacity: 1;
	border: solid 3px #423B28;
}

span{
	font-size: 15px;
}

#name{
	font-size: 30px;
	font-family: Minion;
	text-align: center;
	color: #2E2511;
	position: absolute;
	top: 37%;
	left: 46%;
	height: 100px;
	width:300px;
	border: none;
	opacity: 1;
}

.inside{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}

.inside div{
	font-family: Garamond;
	color:black;
	font-size: 20px;
}

.content{
	display: block;
	position: absolute;
	height:100px;
	width: 100px;
	opacity: 1;
	color: black;
	z-index: 50;
	font-size: 16px;
	text-align: left;
	overflow: scroll;
	/*FOR REFERENCE TO SEE THE DIV
	background-color: #FFFCF5;
	*/
}

#name:hover{
	color: #423B28;
}

/* ABOUT SECTION CSS CODE */
#about{
	display: block;
	position: absolute;
	background-color: rgb(0, 126, 237);
	width: 100%;
	height:100%;
	bottom:78%;
	z-index: 1;
}

#about p{
	display: block;
	position: absolute;
	bottom: 7%;
	left: 47.5%;
}

#about-inside{
	background-color: rgb(0, 126, 237);
	bottom: 22%;
	z-index: 5;
}

#about-inside div{
	bottom:10%;
	margin-left: 12.5%;
	height: 60%;
	width: 75%;
}

/* CONTACT SECTION CSS CODE */
#contact{
	display: block;
	position: absolute;
	background-color: #C68CFF;
	width: 100%;
	height:100%;
	right: 72%;
	z-index: 2;
}

#contact p{
	display: block;
	position: absolute;
	right: 10%;
	/*ISSUE: MUST FIND WAY TO CENTER TEXT*/
	top: 50%;
}

#contact-inside{
	background-color: #C68CFF;
	right:28%;
	z-index: 6;
}

#contact-inside div{
	right:6%;
	top:10%;
	height: 80%;
	width: 60%;
	text-align: right;
}

/* GITHUB SECTION CSS CODE */
#github{
	display: block;
	position: absolute;
	background-color: rgb(0, 198, 237);
	width: 100%;
	height: 100%;
	top: 84%;
	z-index: 3;
}

#github p{
	display: block;
	position: absolute;
	top: 5%;
	/*ISSUE: MUST FIND WAY TO CENTER TEXT*/
	left: 47.5%;
}

#github-inside{
	background-color: rgb(0, 198, 237);
	top:16%;
	z-index: 7;
}

#github-inside div{
	margin: 5% 10%;
	height: 68%;
	width:80%;
	text-align: center;
}

/* RESUME SECTION CSS CODE */
#resume{
	display: block;
	position: absolute;
	background-color: #00E384;
	width: 100%;
	height:100%;
	left: 89%;
	z-index: 4;
}

#resume p{
	display: block;
	position: absolute;
	left: 1%;
	/*ISSUE: MUST FIND WAY TO CENTER TEXT*/
	top: 50%;
}

#resume-inside{
	background-color: #00E384;
	left:11%;
	z-index: 8;
}

#resume-inside div{
	margin: 5% 9%;
	height: 80%;
	width:71%;
}