html {
  background: url('http://i739.photobucket.com/albums/xx34/melbelle627/Doorway_zps9d5d6fc6.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-size: 100%;
  color: #b2b9bC;
  line-height: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 100;
}

span {
  font-weight: bolder;
}

a{
  text-decoration: none;
}

#error {
  text-decoration: none;
  color: white;
}

#navBar {
  background: black;
  background-color: rgba(0,0,0, .6);
  text-align: center;
  line-height: 50px;
}

#navBar a {
  display: inline-block;
  margin: 0 3em 0 3em;
  color: #fff;
}


#navBarM {
  background: black;
  background-color: rgba(0,0,0, .6);
  text-align: center;
  line-height: 50px;
}

#navBarM a {
  display: inline-block;
  margin: 0 3em 0 3em;
  color: #fff;
}



#welcome {
  color: #fff;
  text-align: center;
}

#welcome div {
  background: black;
  background-color: rgba(0,0,0,.6);
}

#welcome p {
  font-style: italic;
}

#about {
  color: white;
  text-align: center;
}

#resume {
  background: #FCFCFC;
  background-size: 100%;
  color: #454545;
  text-align: center;
  overflow: scroll;
}

#resume div {
  text-align: left;
}

#projects {
  background-color: #E6E6E6;
  color: #454545;
  text-align: center;
}

#contact {
  color: #fff;
  text-align: center;
}

#contact div {
  background: black;
  background-color: rgba(0,0,0,.6);
}

#contact p {
  font-style: italic;
}