body {
  background-size: 100%;
  color: #b2b9bC;
  line-height: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 100;
}

#nav {
  background: black;
  background-color: rgba(0,0,0, .9);
}

#nav a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

#welcome {
  color: #fff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#welcome div {
  background: black;
  background-color: rgba(0,0,0,.6);
}

#welcome p {
  font-style: italic;
}

#footer {
  color: #62696c;
  text-align: center;
}

#about {
  background: white;
  background-size: 100%;
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}