html {
  background: url('../images/Doorway.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-size: 100%;
  color: #b2b9bC;
  line-height: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 100;
  margin: 0px;
}

h2 {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-weight: 100;
  font-size: 2.5em;
}

span {
  font-weight: bolder;
}

a{
  text-decoration: none;
}

#error {
  text-decoration: none;
  color: white;
}

#navBar {
  background: black;
  background-color: rgba(0,0,0, .6);
  text-align: center;
  line-height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

#navBar a {
  display: inline-block;
  margin: 0 3em 0 3em;
  color: #fff;
}

#welcome {
  color: #fff;
  text-align: center;
  margin: 15% 0;
  width: 100%;
}

#welcome-container {
  background: black;
  background-color: rgba(0,0,0,.6);
  border-radius: 2em;
  margin: auto;
  width: 40%;
  padding: 7em;
}

#welcome-name{
  border-radius: 0;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
}

#welcome p {
  font-style: italic;
}

#about {
  background: url('../images/AboutBack.jpg') center;
  text-align: center;
  color: white;
  width: 100%;
  margin: 15% 0;
}

#about-info{
  padding: 8em ;
}

#resume {
  color: #454545;
  text-align: center;
  overflow: scroll;
  width: 100%;
}

#resume-container{
  background: #FCFCFC;
  border: black 3px solid;
  overflow: scroll;
  margin: 5%;
  padding: 2%;
}

#design {
  width: 11%;
  float: left;
}

#resume-info {
  text-align: left;
  float: right;
  overflow: scroll;
  width: 88%;
}

#clear {
  clear: both;
  content: "";
  display: block;
}

#projects {
  background-color: #E6E6E6;
  color: #454545;
  text-align: center;
  width: 100%;
  margin: 15% 0;
  padding: 5% 0;
}

#tabs { 
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  background: transparent; 
  border: none; 
} 

#tabs .ui-widget-header { 
  background: transparent; 
  border: none; 
  border-bottom: 1px solid #c0c0c0; 
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  border-radius: 0px; 
} 

#tabs .ui-tabs-nav .ui-state-default { 
  background: transparent; 
  border: none; 
} 

#tabs .ui-tabs-nav .ui-state-active {  
  border: none;
  border-radius: 0px;
  border-top: 3px solid #c0c0c0;
} 

#tabs .ui-tabs-nav .ui-state-default a { 
  color: #c0c0c0; 
  outline-color:  #E6E6E6;
  font-size: .8em;
} 

#tabs .ui-tabs-nav .ui-state-active a { 
  color: #9E97C9; 
  outline-color:  #E6E6E6;
  font-size: .8em;
}

#tabs .ui-tabs-nav { 
  text-align: center; 
} 
#tabs .ui-tabs-nav li { 
  display: inline-block; 
  float: none; 
}

.ui-widget-content{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#preview{
  width: 40%;
  float: left;
}

#descrip{
  width: 55%;
  float: right;
  text-align: left;
  padding: 3em 0 0;
  font-size: .95em;
}

#contact {
  color: #fff;
  text-align: center;
  margin: 15% 0;
  width: 100%;
}

#contact-container {
  background: black;
  background-color: rgba(0,0,0,.6);
  border-radius: 2em;
  margin: auto;
  width: 40%;
  padding: 7em;
}

#contact p {
  font-style: italic;
}

#icon{
  color: white;
  margin: 9% 10% 0 10%;
}