body {
  font-size: 1.15em;
  letter-spacing: 0.035em;
  line-height: 1.75em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.75em;
}

#nav {
  text-align: right;
}

#nav a {
  margin-left: 2em;
  font-size: .8em;
}

#welcome {
  margin: 4em 0 2em 0;
  padding: 3em 0 3em 0;
}

#welcome h2 {
  font-size: 2.5em;
  margin-bottom: .5em;
}

#welcome div {
  border-radius: 0.5em;
}

#welcome p {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

#about {
  margin: 4em -3.7em 2em -3.7em;
  padding: 8em 0 8em 0;
  text-shadow:.05em .05em .05em gray;
}

#resume {
  border:.25em solid #454545;
  margin: 4em 0em 4em 0em;
  padding: 2em 0 2em 0;
  height: 30em;
}

#resume h2 {
  text-shadow:.05em .05em .05em #CCAFE0;
}

#resume p {
  font-size: .8em;
}

#projects {
  margin: 4em -3.7em 2em -3.7em;
  padding: 4em 0 4em 0;
}

#preview {
  width: 20em;
}

#contact {
  margin: 4em 0 2em 0;
  padding: 3em 0 3em 0;
}

#contact h2 {
  font-size: 2em;
  margin-bottom: .5em;
}

#contact div {
  border-radius: 0.5em;
}

#contact p {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

.icon {
  height: 2em;
  opacity: .8;
  padding: 0 2em 0 2em ;
}