html {
  background: url('http://i739.photobucket.com/albums/xx34/melbelle627/Doorway_zps9d5d6fc6.jpg') no-repeat center center fixed;
}

body {
  font-size: 1em;
  letter-spacing: 0.035em;
  line-height: 1.75em;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.75em;
}

#navBar{
  font-size: .8em;
  line-height: 30px;
}

#navBar a {
display: inline-block;
margin: 0 2em 0 2em;
color: #fff;
}

#welcome {
  margin: 4em 0 2em 0;
  padding: 3em 0 3em 0;
}

#welcome h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

#welcome div {
  border-radius: 0.5em;
}

#welcome p {
  font-size: .9em;
  margin-bottom: 1.75em;
}

#about {
  margin: 0em 0em 2em 0em;
  padding: 5em 1em 5em 1em;
  text-shadow:.05em .05em .05em gray;
}

#resume {
  border:.25em solid #454545;
  margin: 4em 0em 4em 0em;
  padding: 2em 0 2em 0;
  height: 25em;
}

#resume h2 {
  text-shadow:.05em .05em .05em #CCAFE0;
}

#resume p {
  font-size: .8em;
}

#design{
  width: 0px;
  height: 0px;
}

#projects {
  margin: 0em 0em 2em 0em;
  padding: 5em 1em 5em 1em;
}

#projects h2 {
  margin-bottom: 0;
}

#preview {
  width: 15em;
}

#contact {
  margin: 4em 0 2em 0;
  padding: 3em 0 3em 0;
}

#contact h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

#contact div {
  border-radius: 0.5em;
}

#contact p {
  font-size: .9em;
  margin-bottom: 1.75em;
}

.icon {
  height: 2em;
  opacity: .8;
  padding: 0 2em 0 2em ;
}